gwd-youtube {
	display: block;
}

gwd-youtube > .youtube-overlay {
	left: 0;
	position: absolute;
	top: 0;
}

gwd-youtube > .youtube-play-button {
	background-color: rgba(255, 255, 255, 0.3);
	background-position: center center;
	background-repeat: no-repeat;
}

gwd-youtube > .youtube-play-button > .youtube-thumbnail {
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
