html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 970px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF;
  background-size: cover; }
  #mainContent div,
  #mainContent img {
    position: absolute; }

#blueStripes {
  width: 2910px;
  height: 750px;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: #FFF; }

.stripe {
  left: -970px;
  width: 970px;
  height: 83px;
  background: #00173C;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0); }

#product {
  top: 88px;
  left: 998px;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

#endFrame {
  top: -3px;
  left: 0;
  width: 480px;
  height: 250px; }

#logo {
  top: 34px;
  left: 38px;
  -webkit-transform: translateX(-480px);
  -ms-transform: translateX(-480px);
  transform: translateX(-480px); }

#subLine {
  top: 160px;
  left: 70px;
  -webkit-transform: translateX(-480px);
  -ms-transform: translateX(-480px);
  transform: translateX(-480px); }

#cta {
  top: 194px;
  left: 148px;
  -webkit-transform: translateX(-480px);
  -ms-transform: translateX(-480px);
  transform: translateX(-480px);
  cursor: pointer; }

#yt-close {
  z-index: 999; }
  #yt-close img {
    position: relative;
    color: #FFF; }

#exit {
  top: 0;
  left: 0;
  width: 970px;
  height: 250px; }
