@import '_config';
@import '_mixins';

body
{
  margin: 0;
  padding: 0;
}

#mainContent
{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: $width;
  height: $height;
  cursor: pointer;
  transform: rotate(0deg);
  border: 1px solid black;
  background: $backgroundColor;
  background-size: cover;
  div,
  img
  {
    position: absolute;
  }
}

#blueStripes
{
  width: $width*3;
  height: $height*3;
  transform-origin: 0 0;
  background: $backgroundColor;
}

.stripe
{
  left: -$width;
  width: $width;
  height: 83px;
  background: $blue;
  transform: translate(0);
}

#product
{
  top: 88px;
  left: 998px;

  transform-origin: 0 0;
}

#endFrame
{
  top: -3px;
  left: 0;

  width: 480px;
  height: $height;

}

#logo
{
  top: 34px;
  left: 38px;
  transform: translateX(-480px);

}

#subLine
{
  top: 160px;
  left: 70px;

  transform: translateX(-480px);

}

#cta
{
  top: 194px;
  left: 148px;

  transform: translateX(-480px);
  cursor:pointer;
}

#yt-close {
  z-index: 999;
  img{
    position: relative;
    color: $backgroundColor;
  }
}

#exit
{
  top: 0;
  left: 0;

  width: $width;
  height: $height;
}
