
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}

#main-container {
  position: absolute;
  width: 970px;
  height: 250px;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  background: #EEE;
}

#exit {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
#yt-close {
  z-index: 999;
}

.feature {
  top: 10px;
  left: 297px;
  width: 376.88888888888886px;
  height: 230px;
  position: absolute;
}
#main-img-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(dclk.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}
